<div style="text-align:center">
  <h1>
    {{title}}!
  </h1>  
</div>
<ul>    
  <li *ngFor="let t of tareas">
      <div [ngSwitch]="t.estado">
        <app-tarea-creada     [tarea]="t" *ngSwitchCase="estadoTareas.Creada"></app-tarea-creada>
        <app-tarea-en-proceso [tarea]="t" *ngSwitchCase="estadoTareas.EnProceso"></app-tarea-en-proceso>
        <app-tarea-terminada  [tarea]="t" *ngSwitchCase="estadoTareas.Terminada"></app-tarea-terminada>
      </div>
  </li>  
</ul>

